:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: white;
}

h1 {
  font-size: 3.2em;
  padding: 50px 0px 40px 0px;
}

h1 a {
  color: black;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: white;
  border: 2px solid black;
}

.audio-product-links {
  font-weight: 500;
  color: black;
  text-decoration: none;
  padding: 10px 0px;
}

.audio-product-format {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.audio-product-card {
  width: 310px;
  height: 400px;
  background-color: white;
  border: 1px solid black;
  margin: 30px 30px 30px 30px;
}

.audio-product-card a {
  color: black;
  text-decoration: none;
}

.audio-product-card a div {
  height: 100%;
}

.audio-product-card a div img {
  width: 100%;
  height: 250px;
  margin-bottom: 30px;
}

.audio-product {
  background-color: white;
  border: 1px solid black;
  overflow: auto;
  width: 95%;
  margin: auto;
}

.audio-product-image {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  float: left;
  margin: 30px 50px 30px 30px;
}

.audio-product div {
  text-align: left;
  margin-top: 40px;
}

.audio-product-description {
  margin: 50px 0px 60px 0px;
}

.filter {
  text-align: left;
  margin-left: 30px;
}

.filter-text {
  font-size: 30px;
}

.filter-apply {
  text-align: right;
  margin: 30px 10px 0px 0px;
}

.mb-3 {
  padding: 90px 0px 50px 0px;
}
