:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #F0F8FF;
}

h1 {
  font-size: 3.2em;
  padding: 40px 0px;
}

h1 a {
  color: black;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: white;
  border: 2px solid black;
}

.audio-product-links {
  font-weight: 500;
  color: black;
  text-decoration: none;
  margin: 10px 0px;
}

.audio-product-format {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.audio-product-card {
  width: 310px;
  height: 400px;
  background-color: white;
  border: 1px solid black;
  margin: 30px 30px 30px 30px;
}

.audio-product-card a {
  color: black;
  text-decoration: none;
}

.audio-product-card a div {
  height: 100%;
}

.audio-product-card a div img {
  width: 100%;
  height: 250px;
  margin-bottom: 30px;
}

.audio-product {
  background-color: white;
  border: 1px solid black;
  overflow: auto;
  width: 95%;
  margin: auto;
}

.audio-product-image {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  float: left;
  margin: 30px 30px 30px 30px;
}

.audio-product div {
  text-align: left;
  margin-top: 40px;
}

.audio-product-description {
  margin: 50px 0px 60px 0px;
}

.filter {
  text-align: left;
  margin-left: 30px;
}

.filter-text {
  font-size: 30px;
}

.filter-apply {
  text-align: right;
  margin: 30px 10px 0px 0px;
}

.mb-3 {
  padding: 60px 0px 50px 0px;
}

.error-404 {
  font-size: 100px;
}

.error-404-text {
  font-size: 30px;
}

@media only screen and (max-width: 480px) {
  nav {
    display: grid;
    justify-content: center;
    background-color: transparent;
    border: none;
  }

  .audio-product-card {
    width: 300px;
    margin: 30px 0px;
  }

  .audio-product {
    overflow: unset;
  }
  
  .audio-product-image {
    width: 250px;
    height: 250px;
    float: none;
    margin: 30px 0px;
  }
  
  .audio-product div {
    text-align: center;
    margin-top: 0px;
  }
  
  .audio-product-description {
    margin: 40px 0px;
  }

  .filter {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
  .audio-product {
    overflow: unset;
  }
  
  .audio-product-image {
    width: 400px;
    height: 400px;
    float: none;
    margin: 30px 0px;
  }
  
  .audio-product div {
    text-align: center;
    margin-top: 0px;
  }
  
  .audio-product-description {
    margin: 40px 0px;
  }
  
  .filter {
    margin-left: 5px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .audio-product {
    overflow: unset;
  }
  
  .audio-product-image {
    width: 500px;
    height: 500px;
    float: none;
    margin: 30px 0px;
  }
  
  .audio-product div {
    text-align: center;
    margin-top: 0px;
  }
  
  .audio-product-description {
    margin: 40px 0px;
  }
  
  .filter {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .audio-product div {
    margin-top: 40px;
  }
  
  .audio-product-description {
    margin: 40px 0px 50px 0px;
  }
  
  .filter {
    margin-left: 10px;
  }
}
